#translationFormContainer {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.searchInput,
.translateBox {
    max-width: 500px;
}

.searchInput {
    padding: 10px;
}

.translateBox {
    padding: 30px;
    max-height: 300px;
    min-height: 100px;
    height: auto;
    overflow: auto;
}

.searchButton {
    padding: 10px 15px;
    background: var(--colour_button_pink);
    color: var(--colour_white);
    border-radius: 15px;
    font-size: 1.8rem;
    cursor: pointer;
}

.searchButton:active,
.searchButton:hover {
    background: var(--colour_dark_red);
}
