:root {
	--colour_white: #ffffff;
	--colour_grey_light: #f9f9f9;
	--colour_grey_dark: #333333;
	--colour_purple: #2C2555;

	--colour_light_red: #8B0000;
	--colour_light_blue: #005c7a;
	--colour_light_grey: var(--colour_grey_dark);

	--colour_dark_red: #fd7070;
	--colour_button_pink: #f98c96;
	--colour_dark_blue: #45d1ff;
	--colour_dark_grey: var(--colour_grey_light);
	--colour_purple: #2C2555;

	--colour_red: var(--colour_light_red);
	--colour_blue: var(--colour_light_blue);
	--colour_grey: var(--colour_light_grey);

	--text: var(--colour_grey);
	--links: var(--colour_blue);
	--background: var(--colour_grey_light);
}

@media(prefers-color-scheme: dark) {
	:root {
		--colour_red: var(--colour_dark_red);
		--colour_blue: var(--colour_dark_blue);
		--colour_grey: var(--colour_dark_grey);
		--background: var(--colour_purple);
	}
}