html {
	min-height: 100vh;
}

body {
	margin: 0;
	min-height: 100vh;
}

body>main,
body>header,
body>footer {
	padding: 20px;
}


@media(min-width: 50em) {

	body>main,
	body>header,
	body>footer {
		padding: 20px 5vw;
	}
}

@media(min-width: 60em) {

	body>main,
	body>header,
	body>footer {
		padding: 40px 0;
		width: 90vw;
		max-width: 1000px;
		margin: 0 auto;
	}
}