@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', Arial, sans-serif;
	color: var(--text);
	font-size: 18px;
	background: var(--background);
	line-height: 1.25;
}

a {
	color: var(--links);
	font-weight: 600;

	&:hover {
		text-decoration: none;
	}
} 