---
import CenteredLayout from "../layouts/CenteredLayout.astro";
import LinkButton from "../components/link-button.astro";

const meta = {
    title: "Page not found",
    description:
        "Uh oh, we couldn't find that page, but don't worry we'll still find food for you",
};
---

<style>
    #not-found-section {
        text-align: center;
        max-width: 800px;
        padding: 15px;
    }

    h1 {
        margin-bottom: 10px;
    }

    img {
        margin: 10px 0;
    }

    @media (min-width: 768px) {
        #not-found-section {
            padding: 30px;
            font-size: 2.2rem;
        }

        h1 {
            font-size: 5rem;
        }

        img {
            margin: 20px 0;
        }

        p {
            margin-bottom: 3rem;
        }
    }
</style>

<CenteredLayout meta={meta}>
    <section id="not-found-section">
        <header>
            <h1>Opps! Page not found</h1>
            <img
                width="100%"
                height="100%"
                src="/_files/Images/404 page/404-not-found-splash.webp"
                alt="Page not found"
            />
        </header>
        <p>
            Uh oh, we couldn't find that page, but don't worry we'll still find
            food for you. Click to go back to the home page so we can search for
            your dietary needs.
        </p>
        <div>
            <LinkButton pageUrl="/" text="Go back home" />
        </div>
    </section>
</CenteredLayout>
