---
import DefaultLayout from "../layouts/Default.astro";

const meta = {
	title: "About Mish Friendly Food",
	description:
		"Mish Friendly Food will translate your dietary requirements/allergies into any language. Once you have your translation, you can get it printed on a cute card. Next time you travel to foreign country, you can",
};
---

<DefaultLayout {meta}>
	<h1>About Mish Friendly Food</h1>

	<p>
		Mish Friendly Food will translate your dietary requirements/allergies
		into any language. Once you have your translation, you can get it
		printed on a cute card. Next time you travel to foreign country, you can
		pull out your physical or digital card and rest assured that your
		waiter, host, or chef, will know how to cater for you.
	</p>

	<h2>Why Mish Friendly Food?</h2>
	<p>
		People with dietary restrictions and allergies should be able to travel
		and still eat!
	</p>

	<p>
		I have a lot of dietary restrictions, and EVERY time I travel, I get
		into situations where people from other countries (and especially other
		languages), don't know what I'm talking about or what I'm allergic to.
		Google translate is great at translating some things, but it lacks
		depth. For example, in some parts of the world, it isn't known what
		gluten is. In others, "dairy" 🐮 is something completely different than
		in my own country.
	</p>
	<p>
		After talking (mostly constructively complaining) about this issue, I
		discovered I wasn't alone. So we came up with this idea to help us all
		while we travel. I wanted to name it something cool, but everyone said
		"go with Mish Friendly Food". This stuck, especially since most of my
		community already call the food I eat "Mish-friendly". At one conference
		in particular, one of the organisers even thought "Mish friendly" was
		actually a dietary type, in the same way "vegan friendly" or "coealic
		friendly" is. This prompted us to have a website to cater to the "Mish
		friendly" search criteria, but also help all those people who - like me
		- struggle when I go travelling.
	</p>
</DefaultLayout>
