---
import DefaultLayout from "../layouts/Default.astro";
import { Search } from "../components/client/Search.jsx";
---

<DefaultLayout>
	<h1>Mish Friendly Food</h1>

	<p>
		Do you have dietary requirements or allergies? Do you travel a lot? ✈️ Then you'll ❤️ this app.
	</p>

	<p>
		Mish Friendly Food will translate your dietary requirements/allergies
		into any language, and export it into a cute card. Next time you travel to foreign country,
		pull out your physical or digital card, and rest assured that your
		waiter, host, or chef, will know how to cater for you.
	</p>

	<Search client:load />
</DefaultLayout>
