---
import DefaultLayout from "../layouts/Default.astro";
---

<DefaultLayout>
	<h1>Mish Friendly Food</h1>

	<p>
		Do you have dietary requirements or allergies? Love to travel? ✈️ Then
		you'll ❤️ this app.
	</p>

	<p>
		Mish Friendly Food will translate your dietary requirements/allergies
		into any language. Once you have your translation, you can get it
		printed on a cute card. Next time you travel to foreign country, you can
		pull out your physical or digital card and rest assured that your
		waiter, host, or chef, will know how to cater for you.
	</p>
</DefaultLayout>
