---
import DefaultLayout from "../layouts/Default.astro";
import { Search } from "../components/client/Search.jsx";
---

<style>
	.foods {
		list-style: none;
		margin: 0;
		padding: 0;

		& li {
			margin: 10px 0;
			padding: 0;
		}

		& summary {
			text-transform: capitalize;
		}
	}

	.categories {
		& a {
			text-transform: capitalize;
		}
	}
</style>

<DefaultLayout>
	<h1>Translations</h1>
	<Search client:load />
	
</DefaultLayout>
