<style>
	footer {
		text-align: center;
	}
</style>

<footer>
	<p>Made with gluten-free, dairy-free love.</p>
	<p>
		Want to help? Contribute on <a
			href="https://github.com/mishmanners/mish-friendly-food"
			target="_blank">GitHub</a
		>.
	</p>
</footer>
