---
import SVG from "../components/svg.astro";
---

<style>
	.title {
		font-size: 2.5em;
		font-weight: 700;
		margin: 0;
		display: flex;
		align-items: center;
		color: inherit;
		text-decoration: none;

		&:hover {
			& svg {
				transform: scale(1.2) rotate(-10deg) translateX(10px);
			}
		}
	}

	.logo {
		height: 1.3em;
		width: auto;
		margin-left: 0.5ch;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>

<header>
	<a class="title" href="/">
		Mish Friendly <SVG name="logo.svg" class="logo" aria-hidden /><span
			class="sr-only">Food</span
		>
	</a>

	<nav>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/languages">Languages</a>
			</li>
		</ul>
	</nav>
</header>
