<style>
	.title {
		font-size: 1.8em;
		font-weight: 700;
		margin: 0;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>

<header>
	<p class="title">Mish Friendly Food</p>

	<nav>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/contributing">Contibuting</a>
			</li>
		</ul>
	</nav>
</header>
