---
const { pageUrl, text } = Astro.props;
---

<style>
    a {
        display: inline-block;
        background: var(--colour_button_pink);
        padding: 12px 10px;
        color: var(--colour_white);
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 20px;
        font-size: 1.5rem;
    }

    @media (min-width: 768px) {
        a {
            font-size: 2rem;
            padding: 20px 15px;
            border-radius: 30px;
        }
    }
</style>

<a href={pageUrl}>{text}</a>
